<h1>Profile</h1>

<% if @user.profile_complete %>
  <h2><%= @user.full_name %></h2>
<% end %>
<h3>Position: <%= @user.role.capitalize %></h3>
<% if @user.role == "sales" %>
  <h4>Sales: <%= @user.sales.count %></h4>
  <%= link_to "Add Sale", new_sale_path %><br>
<% end %>

<%= link_to "Account Settings", edit_user_registration_path %><br>
<%= link_to "Personal Settings", edit_user_path(current_user) %>
