  <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  <!--Video Section-->
  <%= content_for :home do %>
 <div class="beep hidden-sm">
    <section class="video-section">
      <div class="video-content">
        <div><h1>The Dean's List</h1></div>
        <div><h3>Established in 2014</h3></div>
        <div class="arrow-section">
          <h4 class="thin">Scroll to find out more</h4>
          <a href="#about"><%= image_tag("arrow.png", class: "icon") %></a>
        </div>
      </div>
      <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'',containment:'.video-section', quality:'large', autoPlay:true}"></a>
      </div>
    </section>
  </div>

  <!-- Video URL: https://www.youtube.com/watch?v=4gBT_I3Z6go&feature=youtu.be -->

<div id="about">
  <div class="container">
    <div class="col-xs-12 center">
      <h1 class="lg-header thin">The Movement</h1>
      <h3 class="page-text support-info">" The Dean's List, Inc. is a multi media company devoted to college life. Our first project is a calendar that recognizes 12 beautiful and intelligent James Madison University women. Each woman has selected a charity that is deeply important to her, and we will donate 25% of our profits directly to these charities. Welcome to The Dean's List, and the Class of 2015. "</h3>
      <h3 class="pull-right page-text"> - The Dean</h3>
    </div>
  </div>
</div>

<div id="models">
  <div class="col-md-12 center"><h1 class="lg-header thin model-pad">The Class of <%= @year %></h1></div>
  <div class="row row-pad">
    <% @girls.each do |girl| %>
      <div class="col-sm-2 col-xs-4">
        <a href="<%= girl_path(girl) %>" class="bwWrapper">
          <%= image_tag girl.image.url, class: "model desaturate"%>
        </a>
      </div>
    <% end %>
  </div>
</div>

<div id="support">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h1 class="lg-header thin">Support the Cause</h1>
        <h3 class="thin support-info justify">Order your very own copy of The Dean's List Calendar, Issue #1 and support The Cause. We will donate 25% of our profits to the chosen charities. Only 1,500 calendars were published; get yours before they're gone!</h3>
        <%= form_tag charges_path do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="+2.99 Shipping"
                  data-name="The Dean's List"
                  data-amount="1799"
                  data-image="/images/mini-logo.png"
                  data-allow-remember-me="false"
                  data-label="Order Now"
                  data-address>
          </script>
        <% end %>
      </div>

      <div class="col-sm-4 pull-right center">
        <article>
          <div class="image">
            <%= image_tag('cover_banner.png', class: "cal-cover") %>
            <!-- <h3 class="image-text">Amount: $15<br></h3> -->
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

  <footer>
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="large">CONTACT US</h1>
            <p>Would you like to leave us any feedback?</p>
            <div>
              <p class="white" id="disclaim">*Disclaimer</p>
              <p id="disclaim-text" hidden>The Dean's List at JMU 2014-2015 Calendar is not a JMU publication, and is in no way endorsed by JMU. Our corporate name, The Dean's List, Inc., has no relationship to the "Dean's List" honor, which is granted to JMU students for their academic achievements.  The inclusion of any woman in our calendar does not imply that she is on the JMU Dean's List.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 white thin">
            <h3 class="foot-heading">The Office</h3><hr>
            <p>deanslistproject@gmail.com</p>
            <div class="address">
              <p>James Madison University</p>
              <p>Harrisonburg, VA</p>
              <p>22807</p>
            </div>
          </div>
          <div class="col-md-4">
            <h3 class="foot-heading">Say Hello</h3><hr>
            <%= form_for @contact do |f| %>
              <div><%= f.text_field :name, placeholder: "Name *", class: "trans" %></div>
              <div><%= f.text_field :email, placeholder: "Email *", class: "trans" %></div>
              <div><%= f.text_field :subject, placeholder: "Subject", class: "trans" %></div>
              <div><%= f.text_area :message, placeholder: "Comment *", class: "trans area" %></div>
              <div><%= f.submit "Submit", class: "trans contact-submit" %></div>
            <% end %>
          </div>
          <div class="col-md-4">
            <h3 class="foot-heading">Get Connected</h3><hr>
            <div>
              <p><%= image_tag("twitter3.png", class: "contact-icon") %><a href="https://twitter.com/deanslistprojec" class="foot-link" target="_blank">Twitter</a></p>
              <p><%= image_tag("facebook3.png", class: "contact-icon") %><a href="https://www.facebook.com/pages/The-Deans-List/423241127810992?ref_type=bookmark" class="foot-link" target="_blank">Facebook</a></p>
              <p><%= image_tag("youtube.png", class: "contact-icon") %><a href="https://www.youtube.com/channel/UCOFqKdSSWINgf6bKxUyGHBw" class="foot-link" target="_blank">YouTube</a></p>
              <p><%= image_tag("instagram.png", class: "contact-icon") %><a href="http://instagram.com/deanslistproject" class="foot-link" target="_blank">Instagram</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>

  <script type="text/javascript">
    $(document).ready(function(){
      windowHeight = $(window).height()
      $('.video-section').css('height', windowHeight);
      $('.video-content').css('padding-top', screen.height/3.5);
      $('.arrow-section').css('margin-top', screen.height*.30);
      $('#about').css('padding-top', screen.height/4);
      $('#about').css('padding-bottom', screen.height/3);

      $('a.nav-link').hover(function(){
        $(this).stop(true, false).animate({ 'padding-bottom': "20px" }, 200);
        }, function() {
        $(this).stop(true, false).animate({ 'padding-bottom': "15px" }, 200);
      });

      $('img.model').hover(function(){
        $(this).removeClass('desaturate');
        }, function() {
        $(this).addClass('desaturate');
      });

      $('a[href^="#"]').click(function (e) {
          e.preventDefault();

          var target = this.hash,
          $target = $(target);

          $('html, body').stop().animate({
              'scrollTop': $target.offset().top
          }, 750, 'swing', function () {
              window.location.hash = target;
          });
      });

      $('#disclaim').click(function(){
        $('#disclaim-text').toggle('medium');
      });



      // $('.bwWrapper').BlackAndWhite({
      //     hoverEffect : true, // default true
      //     // set the path to BnWWorker.js for a superfast implementation
      //     webworkerPath : false,
      //     // to invert the hover effect
      //     invertHoverEffect: false,
      //     // this option works only on the modern browsers ( on IE lower than 9 it remains always 1)
      //     intensity:1,
      //     speed: { //this property could also be just speed: value for both fadeIn and fadeOut
      //         fadeIn: 100, // 200ms for fadeIn animations
      //         fadeOut: 500 // 800ms for fadeOut animations
      //     },
      //     onImageReady:function(img) {
      //         // this callback gets executed anytime an image is converted
      //     }
      // });
    });
  </script>
