<% if @sale.errors.any? %>
  <p> There were errors in your submission </p>
  <ul>
    <% @sale.errors.each do |key, val| %>
      <li><%= key.capitalize %> <%= val %></li>
    <% end %>
  </ul>
<% end %>

<div class="col-md-6 col-md-offset-3">
  <%= form_for @sale do |f| %>
    <%= f.text_field :quantity, autofocus: true, placeholder: "Enter quantity sold", class: "girls-input" %>
    <%= f.text_field :recipient, placeholder: "Enter name of buyer", class: "girls-input" %>
    <%= f.text_field :amount_paid, placeholder: "Enter the amount paid", class: "girls-input" %>
    <%= f.date_select :date, placeholder: "mm/dd/yyyy" %>
    <%= f.select :gender, Sale.buyer_gender, prompt: "Select gender sold to" %>
    <%= f.select :source, Sale.source_of_sale, prompt: "Select form of sale" %>
    <%= f.submit "Submit", class: "btn submit-btn" %>
  <% end %>
</div>
