<!DOCTYPE html>
<html>
<head>
  <title>TheDeansList</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="navbar-brand">DL</h1>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li><a href="#about" class='nav-link'>About</a></li>
            <li><a href="#models" class='nav-link'>Models</a></li>
            <li><a href="#team" class='nav-link'>Team</a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <div class="flash center">
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    </div>
  <% end %>

  <%= yield :home %>

  <div class='container'>
    <%= yield %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('a.nav-link').hover(function(){
        $(this).stop(true, false).animate({ 'padding-bottom': "20px" }, 200);
        }, function() {
        $(this).stop(true, false).animate({ 'padding-bottom': "15px" }, 200);
      });
    });
  </script>

</body>
</html>
