<!DOCTYPE html>
<html>
<head>
  <title>TheDeansList</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<% if current_page?('/') %>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
  <% else %>
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <% end %>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="hidden-xs">
        <% if current_page?('/') %>
          <a href="<%= root_path %>"><%= image_tag("mini-logo.png", class: "brand-logo") %></a>
        <% else %>
          <a href="<%= root_path %>"><%= image_tag("mini-logo.png", class: "xs-logo") %></a>
        <% end %>
        </div>
        <div class="visible-xs">
          <% if current_page?('/')%>
            <a class="navbar-brand" href="<%= root_path %>">DL</a>
          <% else %>
            <a class="navbar-brand" href="<%= root_path %>"><span class="white">DL</span></a>
          <% end %>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Dashboard", dashboard_path, class: "custom-nav-link" %></li>
            <li><%= link_to "Profile", user_path(current_user), class: "custom-nav-link" %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'custom-nav-link' %></li>
          <% else %>
          <% if current_page?('/') %>
            <li><a href="#about" class='nav-link'>About</a></li>
            <li><a href="#models" class='nav-link'>Models</a></li>
            <li><a href="#support" class='nav-link'>Support</a></li>
          <% else %>
            <li><a href="/" class='custom-nav-link'>Home</a></li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% flash.each do |name, msg| %>
    <div class="flash center">
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    </div>
  <% end %>

  <%= yield :home %>

  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
